.contact-section {
    background-color: white;
}

.text {
    font-weight: 300;
    opacity: 0.9;
    font-family: "GoogleSans-Light";
}

.contact-body {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

.contact-info {
    margin: 2rem 0;
    text-align: center;
}

.contact-info span {
    display: block;
    padding: 10px;
}

.contact-info div {
    margin: 0.8rem 0;
    padding: 1rem;
}

.contact-info span .fas {
    font-size: 2rem;
    padding-bottom: 0.9rem;
}

.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-info .text {
    padding-top: 0.4rem;
}

.contact-form {
    padding: 2rem;
    border-top: 1px solid #c7c7c7;
}

.contact-form form {
    padding-bottom: 1rem;
}

.form-control {
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: "GoogleSans-Light";
    font-size: 1rem;
    outline: 0;
}

.form-control:focus {
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.contact-social {
    padding: 1.5rem;
}

.social-icons {
    padding: 20px;
    margin: 20px;
}

.socials-div a {
    display: block;
}

#icon:hover {
    color: #000;
}

#icon {
    transition: all .2s ease-in-out;
}

#icon:hover {
    transform: scale(2);
}

.contact-title {
    font-family: "GoogleSans-Bold";
    font-size: 2rem;
}

.contact-form form {
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 2rem;
}

.contact-form form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.contact-form form div input {
    padding: 15px;
}

.send-btn {
    font-family: "GoogleSans-Light";
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #000;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.send-btn:hover {
    opacity: 0.8;
}

.contact-form>div {
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .socials-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .contact-bg .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .socials-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .contact-bg .text {
        width: 50%;
    }

    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .contact-info {
        grid-template-columns: repeat(3, 1fr);
    }

    .socials-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}