.root {
    width: 100%;
    min-width: 375px;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    margin: 0 auto;
    /* background: #af67e9 linear-gradient(180deg, #af67e9 0%, #6565e7 100%); */
  }
  
  main {
    width: 85%;
    max-width: 965px;
    position: relative;
    padding: 0 0 0 45px;
  }
  main::before {
    content: "";
    position: absolute;
    top: 206px;
    left: -48px;
    background: url("https://assets.codepen.io/8618172/illustration-box-desktop.svg") no-repeat 0 0;
    width: 190px;
    height: 200px;
    z-index: 10;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    from {
      transform: translate3d(0, -10px, 0);
    }
    to {
      transform: translate3d(0, 10px, 0);
    }
  }
  @-webkit-keyframes bounce {
    from {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  }
  article {
    background: white url("https://assets.codepen.io/8618172/bg-pattern-desktop.svg") no-repeat -580px -294px;
    border-radius: 25px;
    display: flex;
    max-width: 920px;
    min-width: 300px;
    padding: 65px 95px 85px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: -10px 40px 37px -5px rgba(0, 0, 0, 0.2);
  }
  article::before {
    content: "";
    background: url("https://assets.codepen.io/8618172/illustration-woman-online-desktop.svg") no-repeat 0 0;
    position: absolute;
    width: 472px;
    height: 360px;
    top: 70px;
    left: -86px;
  }
  article .contentWrapper {
    width: 350px;
    margin-left: auto;
  }
  article h2 {
    font-size: 14px;
    font-weight: 400;
    color: #4a4b5e;
    margin: 0;
  }
  article h2:hover {
    color: #f47c57;
  }
  article h2 label {
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 0 0 18px;
  }
  article h2 label::after {
    content: "";
    background: url("https://assets.codepen.io/8618172/icon-arrow-down.svg") no-repeat right 0;
    width: 12px;
    height: 7px;
    margin: 6px 15px 0 0;
    float: right;
  }
  article ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  article ul li {
    position: relative;
    border-top: 1px solid #e7e7e9;
    padding: 17px 0 0;
    margin: 0;
    overflow: hidden;
  }
  article ul li:first-child {
    padding: 0;
    border: none;
  }
  article ul li:last-child {
    border-bottom: 1px solid #e7e7e9;
  }
  article ul input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  article .answer {
    width: 95%;
    height: 0;
    line-height: 1.5em;
    margin: 0;
    transition: all 0.5s cubic-bezier(0, 1, 1, 1);
  }
  article input:checked ~ .answer {
    height: auto;
    margin: 0 0 18px;
  }
  article input:checked ~ h2 {
    font-weight: 700;
  }
  article input:checked ~ h2 label {
    padding: 0 0 10px;
  }
  article input:checked ~ h2 label::after {
    transform: scaleY(-1);
  }
  
  /* Attribution */
  footer {
    font-size: 11px;
    text-align: center;
    color: white;
    margin: 35px 0 0;
  }
  footer a {
    color: white;
  }
  
  @media screen and (min-height: 768px) and (min-width: 1440px) {
    .root {
      padding: 8.125rem 0 4rem;
    }
  }
  @media screen and (max-width: 1100px) {
    article .contentWrapper {
      width: 300px;
    }
  }
  @media screen and (max-width: 1050px) {
    article .contentWrapper {
      width: 280px;
    }
    article h2 label::after {
      margin: 6px 0 0 0;
    }
  }
  @media screen and (max-width: 991px) {
    h1 {
      text-align: center;
      margin: 0 0 32px;
    }
  
    .root {
      padding: 3rem 0;
    }
  
    main {
      padding: 109px 0 0;
    }
    main::before {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: url("https://assets.codepen.io/8618172/illustration-woman-online-mobile.svg") no-repeat 0 0;
      width: 239px;
      height: 182px;
      z-index: 10;
      animation: none;
    }
    main::after {
      content: "";
      position: absolute;
      top: 107px;
      left: 50%;
      transform: translateX(-50%);
      background: url("https://assets.codepen.io/8618172/bg-pattern-mobile.svg") no-repeat 0 0;
      width: 239px;
      height: 182px;
      z-index: 8;
    }
  
    article {
      padding: 130px 23.5px 48px;
      background-color: white;
      background-image: none;
      min-width: 327px;
    }
    article::before {
      display: none;
    }
    article h2 {
      font-size: 13px;
    }
    article h2:hover {
      color: #4a4b5e;
    }
    article h2 label::after {
      margin: 6px 0 0;
    }
    article .contentWrapper {
      width: 100%;
      margin-left: 0;
    }
    article input:active ~ h2 {
      color: #f47c57;
    }
  }