.banner-landing{
    background-image: url(../../Assets/img/banner.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
.gdsc-landing-logo{
    
    height: 35%;
    width: 40%;
    transform: translateY(-5rem);
}
/*
.obj1{
    position: relative;
    height: 6% !important;
    left:10%;
    width: 6% !important;
}
.obj3{
    position: relative;
    height: 6% !important;
    left:6% !important;
    width: 6% !important;
}
.obj2{
    position: relative;
    height: 6% !important;
    left:2% !important;
    top:5% !important;
    width: 6% !important;
} */

/* responsive image */ 
@media screen and (max-width: 600px) {
    .gdsc-landing-logo{
        transform: translateY(-2rem);
    }
    .gdsc-landing-logo {
        width: 100% ;
        height: 20%;
    }
}

    
