.teamlanding {
  background-image: url(../../Assets/img/teamgame.png);
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-title {
  font-family: "GoogleSans-Bold" !important;
}
/*make responsive*/
@media screen and (max-width: 600px) {
  .teamlanding {
    background-image: url(../../Assets/img/teamgame.png);
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

   
  }
}
.sanjay-sir {
  margin-top: 45px;
}

.first-title {
  font-size: 6.5em;
  transform: translateY(-2rem);
  font-family: "GoogleSans-Bold" !important;
}
.speakersCardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  flex: 1 1;
}

.margin-2 {
  margin-top: 2rem;
}

.margin-1 {
  margin-top: 1rem;
}

.speakerCard {
  margin: 4rem 0;
  width: 300px;
  height: 360px;
  background-image: url(../../Assets/img/bgmain.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.speakerImage {
  position: relative;
  bottom: 100px;
  width: 120px;
  border-radius: 50%;
  /* border: solid 1px black; */
  /* box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3); */
}
.team-heading {
  font-size: 1.4rem;
}

.connect-btn {
  background: none;
  border: none;
  margin: 0rem 0rem;
  padding: 0 0;
  border-radius: 15%;
  cursor: pointer;
  outline: none;
  width: 2rem;
}

.connect-btn:hover {
  
}

.connect-icon {
  width: 100%;
  height: 100%;
}
