body{
    margin-top: 2rem;
}
.teamlanding{
    height: 98vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.speakersCardContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;


    flex: 1 1;
  }
  
  .speakerCard {
    margin: 4rem 0;
    width: 300px;
    height: 360px;
    background-image: url(../../Assets/img/bgmain.png);
    background-size: cover;
    background-position:center;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
  }
  
  .speakerImage {
    position: relative;
    bottom: 100px;
    width: 120px;
    border-radius: 50%;
    /* border: solid 1px black; */
    /* box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3); */
  }
  