ul {
  margin: 0px;
  padding: 0px;
}

.footer-link {
  display: flex;
  flex-direction: column;

}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

/* .footer-logo img {
  max-width: 20rem;
} */

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  font-family: "GoogleSans-Light";
  text-align: left;
  color: #fff;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-family: "GoogleSans-Bold";
  font-weight: 600;
  text-align: left !important;
  margin-bottom: 10px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  /* background: #ff5e14; */
}

.useful-links {
  display: flex;
  justify-content: space-around;
}

.footer-widget {
  padding-top: 0.5rem;
}

.footer-widget ul li {
  font-family: "GoogleSans-Bold";
  display: inline-block;
  text-align: left;
  float: left;
  margin-bottom: 12px;
}

.footer-widget ul {
  padding-left: 0 !important;
  /* color: #ff5e14; */
}

.footer-widget ul li a {
  color: #fff;
  font-family: "GoogleSans-Light";
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
}

.subscribe-form {
  border-radius: 30px;
  font-family: "GoogleSans-Bold";
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  font-family: "GoogleSans-Bold";
  border-radius: 30px;
  padding: 14px 20px;
  font-size: 1rem;
  background: #fff;
  border: 2px solid #fff;
  color: #000;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background-color: rgba(66, 133, 244, 1) !important;
  font-size: 0.75rem;
  font-family: "GoogleSans-Bold";
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #fff;
  padding: 17px 25px;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

@media screen and (max-width: 548px) {

  .footer-section {
    padding: 1.5rem;
  }

  .useful-links {
    padding-top: 1rem;
    display: block;
  }

  .subscribe {
    padding-top: 1rem;
  }

}