._navbar{
    display: flex;
    background-color:transparent;
    height: 5rem;
    width: 100%;
    padding-left: 2rem;
    padding-right :2rem ;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    justify-content: space-between;
    z-index: 1;
}
.sticky{
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.logo img{
    height: 3.5rem;
    width: auto;
    margin: 1rem;
}

.Links_Tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.tab_list {
    display: flex;
    margin-right:1rem ;
}

.tab_list button{
    display: flex;
    background-color: transparent;
    border: none;
    margin: 10px;
} 
.tab_list button a{
    font-family:"GoogleSans";
    text-decoration: none;
    font-size: 1.2rem;
    color:black;
    font-weight: 500;
}


.JOINUS_btn button {
    height: 3rem;
    width: 8rem;
    background-color:rgba(66, 133, 244, 1);
    border-radius: 0.8rem;
    padding: 0.4rem;
    border: none;
} 

.JOINUS_btn button a {
    text-decoration: none;
    font-family: "GoogleSans" ;
    color: White;
    font-size: 1.5rem;
}
