/* Css for the partners section  */
.partners {
  background-color: #1d252c;
  width: 100%;
  height: auto;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

/* A class that is used to make the text in the div to be displayed in the center. */
.partners-heading {
  font-family: "GoogleSans-Bold";
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Adding a margin of 10px to the right of the element. */
.margin-10px {
  margin-right: 10px;
}

/* A class that is used to make the elements inside the div to be displayed in a row. */
.flex {
  display: flex;
}

.font-face-bold {
  font-family: "GoogleSans";
}

.font-face-lighter {
  font-family: "GoogleSans-Light";
}

/* Just a color code for the text. */
.G {
  color: #ea4335;
}

.D {
  color: #4285f4;
}

.S {
  color: #0f9d58;
}

.C {
  color: #fbbc04;
}

/* parnters image styling  */

.finflee {
  background-color: #6968ff;
}

.semikolan {
  background-color: #0c1c33;
}

/* cards styling for the parnters section  */

.cards-list {
  padding-top: 10px;
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  width: 11rem;
  height: 11rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 30px !important;
  background-color: #271550 !important;
}
/* extra added  by Abhishek-M  */
.card p {
  margin: 10px;
}
.card p a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "GoogleSans-Light";
}

.card_image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 30px;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}

/* media querys for hte card  */
@media all and (max-width: 720px) {
  .card {
    width: 9rem;
    height: 9rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 30px !important;
    margin: 1.2rem;
  }

  .card_image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 20px;
  }
}
@media all and (max-width: 400px) {
  .card {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 30px !important;
  }

  .card_image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 10px;
  }
}
@media all and (max-width: 390px) {
  .margin-10px {
    margin-right: 4px;
  }
}
