
.flex {
  display: flex;
}

.G {
  color: #ea4335;
}

.D {
  color: #4285f4;
}

.S {
  color: #0f9d58;
}

.C {
  color: #fbbc04;
}
/*add custom scroll bar**/
::-webkit-scrollbar {
  width: 10px;

}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background:rgb(0, 79, 139);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 79, 139);
}


/* Abhishek Malviya Code  */
/* NavBar */
.Navbar {
  margin: 1.25rem;
  margin-top: 0;
  padding: 0.625rem;
  background-color: white;
}
/* Navbar logo */
.Navbar-logo {
  height: 3rem;
  width: 6rem;
}
/* Navbar Tab */
.Navbar-links {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

/* Why to become member */

/* parent div of section */
.main-box {
  display: flex !important;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-top: 2.7rem;
  padding-bottom: 2.5rem;
}

/* left hand side box */
.Side-box {
  display: flex;
  flex-direction: column;
  border: 10px rgb(66, 133, 244) solid;
  border-left: 0;
  border-bottom-right-radius: 6rem;
  border-top-right-radius: 6rem;
  width: 50%;
  height: auto;
  padding: 3rem;
}

.Side-box p {
  font-family: "GoogleSans-Bold" !important;
  font-size: 2.5rem;
  color: black;
}
.Side-box h2 {
  margin: 2px;
  font-family: "GoogleSans-Bold" !important;
  font-size: 3.5rem;
}

/* right hand side  box */
.right-box {
  flex-direction: column;
  width: 50%;
  height: auto;
  padding: 4rem;
  margin: 1.2rem;
}

.right-box p {
  font-family: "GoogleSans-Bold" !important;
}
/* des text of the right hand box */
.WTB-text p {
  font-size: 1.75rem;
  color: black;
}

/* join  community  button class  */

.join-community-btn {
  margin: 1.2rem;
  height: 5rem;
  width: 50%;
  background-color: rgba(66, 133, 244, 1);
  border-radius: 0.5rem;
  border: 0;
}

.join-community-btn a {
  text-align: center;
  /* padding: 10px; */
  font-size: 1rem;
  color: white;
  font-family: "GoogleSans-Bold" !important;
  text-decoration: none;
}

.join-community-btn:hover {
  background-color: rgba(66, 133, 244, 1.2);
}

/* circle over the border of WTB section  */
.circle-1 {
  display: flex;
  height: 8rem;
  width: 8rem;
  background-color: rgba(219, 68, 55, 1);
  border-radius: 20rem;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  top: -7rem;
  position: relative;
  margin-bottom: -7rem;
  left: 10rem;
  font-family: "GoogleSans-Bold" !important;
  font-size: 1.5rem;
  color: white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.circle-2 {
  font-family: "GoogleSans-Bold" !important;
  display: flex;
  height: 8rem;
  width: 8rem;
  background-color:rgba(15, 157, 88, 1);
  border-radius: 20rem;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  bottom:-8rem;
  position: relative;
  left: 40rem;
  margin-top: -7rem;
  font-size: 1.5rem;
  color: white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.circle-3 {
  display: flex;
  height: 8rem;
  width: 8rem;
  background-color: rgba(244, 180, 0, 1);
  border-radius: 20rem;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  bottom:-7rem;
  position: relative;
  left: 0.5rem;
  margin-top: -7rem;
  font-family: "GoogleSans-Bold" !important;
  font-size: 1.5rem;
  color: white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.circle-1:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.circle-2:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.circle-3:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}


/* //media Query for WTB section  */

@media only screen and (max-width: 1650px){
  .circle-2 {
    display: flex;
    height: 8rem;
    width: 8rem;
    background-color:rgba(15, 157, 88, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    bottom:-8rem;
    position: relative;
    left: 30rem;
    margin-top: -7rem;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

}
@media only screen and (max-width: 1500px){
  .circle-2 {
    display: flex;

    height: 8rem;
    width: 8rem;
    background-color:rgba(15, 157, 88, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    bottom:-8rem;
    position: relative;
    left: 25rem;
    margin-top: -7rem;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  

}
@media only screen and (max-width: 1450px) {
  .join-community-btn a {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
}
@media only screen and (max-width: 1300px){
 
  .circle-2 {
    display: flex;
    height: 8rem;
    width: 8rem;
    background-color:rgba(15, 157, 88, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    bottom:-8rem;
    position: relative;
    left: 20rem;
    margin-top: -7rem;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

}
@media only screen and (max-width: 1100px){
  .circle-1 {
    display: flex;
    height: 7rem;
    width: 7rem;
    background-color: rgba(219, 68, 55, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    top: -7rem;
    position: relative;
    margin-bottom: -7rem;
    left: 6rem;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .circle-2 {
    display: flex;
    height: 7rem;
    width: 7rem;
    background-color:rgba(15, 157, 88, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    bottom:-7rem;
    position: relative;
    left: 15rem;
    margin-top: -7rem;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  
  .circle-3 {
    display: flex;
    height: 7rem;
    width: 7rem;
    background-color: rgba(244, 180, 0, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    bottom:-7rem;
    position: relative;
    left: 0.5rem;
    margin-top: -7rem;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

}
@media only screen and (max-width: 1000px) {
  .join-community-btn a {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
  }
  .Side-box p {
    font-size: 2.3rem;
    color: black;
  }
  .Side-box h2 {
    margin: 2px;
    font-size: 3.4rem;
  }

  .circle-1 {
    display: flex;
    height: 6rem;
    width: 6rem;
    background-color: rgba(219, 68, 55, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    top: -6rem;
    position: relative;
    margin-bottom: -6rem;
    left: 5rem;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.25rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .circle-2 {
    display: flex;
    height: 6rem;
    width: 6rem;
    background-color:rgba(15, 157, 88, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    bottom:-5rem;
    position: relative;
    left: 14rem;
    margin-top: -5rem;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.25rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  
  .circle-3 {
    display: flex;
    height: 6rem;
    width: 6rem;
    background-color: rgba(244, 180, 0, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    bottom:-6rem;
    position: relative;
    left: 0.4rem;
    margin-top: -rem;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.25rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
}
@media only screen and (max-width: 900px){
  .circle-1 {
    display: flex;
    height: 6rem;
    width: 6rem;
    background-color: rgba(219, 68, 55, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    top: -6rem;
    position: relative;
    margin-bottom: -6rem;
    left: 4em;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.25rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .circle-2 {
    display: flex;
    height: 6rem;
    width: 6rem;
    background-color:rgba(15, 157, 88, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    bottom:-5rem;
    position: relative;
    left: 13rem;
    margin-top: -5rem;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.25rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  
  .circle-3 {
    display: flex;
    height: 6rem;
    width: 6rem;
    background-color: rgba(244, 180, 0, 1);
    border-radius: 20rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    bottom:-6rem;
    position: relative;
    left: 0.rem;
    margin-top: -rem;
    font-family: "GoogleSans-Bold" !important;
    font-size: 1.25rem;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

}
@media only screen and (max-width: 800px) {
  .main-box {
    flex-direction: column;
  }
  .Side-box {
    /* flex-direction: column; */
    border: 3px rgb(66, 133, 244) solid;
    border-radius: 2rem;
    width: 50%;
    height: 100%;
    padding: 2rem;
  }
  .Side-box p {
    font-family: "GoogleSans-Bold";
    font-size: 2rem;
    font-weight: 100;
    color: black;
  }
  .Side-box h2 {
    font-family: "GoogleSans-Bold";
    font-size: 2rem;
    font-weight: bold;
  }
  .colored-logo {
    margin: 0;
  }
  .right-box {
    margin: 2rem;
    width: 90%;
    height: auto;
    padding: 0;
  }
  .WTB-text p {
    font-family: "GoogleSans-Light";
    font-size: 2rem;
    color: black;
  }
  .join-community-btn {
    height: 4rem;
    width: 60%;
    border: 0;
    border-radius: 0.5rem;
    background-color: rgba(66, 133, 244, 1);
  }
  .join-community-btn a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }
  .circle-1 {
    display:none ;
  }
  .circle-2 {
    display:none  ;
  }
  .circle-3 {
    display:none ;
  }
}
@media only screen and (max-width: 600px) {
  .main-box {
    flex-direction: column;
  }

  .Side-box {
    flex-direction: column;
    border: 5px rgb(66, 133, 244) solid;
    border-radius: 2rem;
    width: 50%;
    height: auto;
    padding: 1rem;
  }
  .Side-box p {
    text-align: center;
    font-family: "GoogleSans-Bold";
    font-size: 1.5rem;
    font-weight: 100;
    color: black;
  }
  .Side-box h2 {
    font-family: "GoogleSans";
    font-size: 2rem;
    font-weight: bold;
  }
  .colored-logo {
    margin: 0;
  }

  .right-box {
    margin: 1rem;
    padding: 1rem;
    width: 90%;
    height: auto;
    padding: 0;
  }
  .WTB-text p {
    padding: 1.5rem;
    font-family: "GoogleSans-Light";
    font-size: 1.25rem;
    font-weight: normal;
    color: black;
  }
  .join-community-btn {
    height: 3rem;
    width: 50%;
    border: 0;
    border-radius: 0.5rem;
    background-color: rgba(66, 133, 244, 1);
  }

  .join-community-btn a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
}
