.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
}

.G {
  color: #EA4335;
}

.D {
  color: #4285F4;
}

.S {
 color: #0F9D58;
}

.C {
 color: #FBBC04;
}

.testimonial-area-l-13 {
  background-color: #1D252C;
  padding-top: 45px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .testimonial-area-l-13 {
    padding-top: 5px;
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .testimonial-area-l-13 {
    padding-top: 115px;
    padding-bottom: 130px;
  }
}

.font-face-bold {
  font-family: "GoogleSans";
 }

 .font-face-lighter {
    font-family: "GoogleSans-Light";
 }

.testimonial-area-l-13 .section-heading-7 {
  letter-spacing: 1px;
  padding-bottom: 35px;
}

.testimonial-area-l-13 .section-heading-7 h4 {
  line-height: 2;
}

.testimonial-area-l-13 .testimonial-area-l-13-items {
  margin-bottom: -25px;
}

.testimonial-area-l-13 .testimonial-area-l-13-items .col-xl-4 {
  margin-bottom: 20px;
}

.testimonial-area-l-13 .bg-shape-3 {
  background-repeat: no-repeat;
  position: absolute;
  top: -68%;
  height: 173%;
  width: 155%;
  left: -40%;
  transform: rotate(-7deg);
  background-size: cover;
  z-index: -1;
}

.testimonial-area-l-13 .testimonial-card {
  background-color: #1F1F1F;
  border-radius: 10px;
  padding: 5px 35px 10px 35px;
}

.testimonial-area-l-13 .testimonial-card p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  margin: 15px;
  letter-spacing: 0.5px;
}

.testimonial-area-l-13 .testimonial-card img {
  padding: 10px;
}

.testimonial-area-l-13 .testimonial-card .content-body {
 padding: 5px;
 width: 100%;
 /* text-align: center; */
}

.testimonial-area-l-13 .testimonial-card .content-body h5 {
  text-align: center;
  margin-top: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.testimonial-area-l-13 .testimonial-card .content-body p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.5px;
}

.testimonial-area-l-13 .testimonial-card .customer-identity {
  vertical-align: middle;
  margin-top: 30px;
}

.what-we-do {
  margin-right: 10px;
}

/* FAQ */
.faq {
  text-align: center;
}

.question-section {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  width: 92vw;
}

.question-align {
  align-items: center;
  display: flex;
  min-height: 10px;
  text-align: left;
}

.question-align h4 {
  margin-left: 8px;
}

.question-styling {
  font-size: 17px;
  width: 100%;
}

.question-icon {
  background: none;
  border: none;
  color: #1b6aae;
  cursor: pointer;
  font-size: 22px;
  margin-left: auto;
  margin-right: 8px;
}

.rotate {
  transform: rotate(45deg);
}

.answer-divider {
  border-top: 1px solid lightgray;
}

.answer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
}
