body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "GoogleSans-Bold";
  src: local("GoogleSans"),
   url("./fonts/GoogleSans/GoogleSans-Bold-v1.27.ttf") format("truetype");
  font-weight: bold;
  }

  @font-face {
    font-family: "GoogleSans-Light";
    src: local("GoogleSans"),
     url("./fonts/GoogleSans/GoogleSans-Regular-v1.27.ttf") ;
    font-weight: lighter;
    }


